<h3>Add New Student</h3>
<%= form_with model: @student, local: true do |form| %>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= form.label :english, class: "form-label" %>
    <%= form.number_field :english, class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= form.label :malayalam, class: "form-label" %>
    <%= form.number_field :malayalam, class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= form.label :social_studies, class: "form-label" %>
    <%= form.number_field :social_studies, class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= form.label :science, class: "form-label" %>
    <%= form.number_field :science, class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= form.label :maths, class: "form-label" %>
    <%= form.number_field :maths, class: "form-control" %><br>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

<% end %>




